@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.designation{
    color: white;
    /* background-color: red; */
    justify-content: center;
    /* background-color: gray; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}
.font{
    font-size: 8rem;
    font-family: space Mono;
    font-weight: 500;
    margin: 0;
}
.content-body{
    width: 100vw;
}
.content{
    width: 100vw;
    display: flex;
    /* background-color: red; */
    height: 70vh;
}
.software{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: purple; */
}
.project-button{
    width: 40%;
    /* background-color: aliceblue; */
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 2%;
}
.projects{
    width: 50%;
    height: 20%;
    border: none;
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    border-radius: 50px;
}
.arrow-container{
    height: 20%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 9%;
    border-radius: 100px;
}
.arrow{
    width: 50%;
}
.objective{
    color: white;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* background-color:gray; */
    justify-content: center;
}
.paragraph{
    /* height: 100%; */
    /* width: 40%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
p{
    width: 70%;
    font-family: "Roboto", sans-serif;
}
.developer{
    width: 70%;
    background-color: red;
}