.header{
    position: relative;
    margin: 0;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    /* background-color: red; */
    height: 18vh;
}
.header-name{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20vw;
    /* background-color: purple; */
}
.header-list{
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    width: fit-content;
    display: flex;
    width: 70vw;
    /* background-color: green; */
}
ul{
    position: relative;
    /* background-color: antiquewhite; */
    list-style: none;
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.website-language{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 10vw;
    /* background-color: aqua; */
}
.circle{
    position: absolute;
    background-color: transparent;
    height: 25vh;
    /* height: 30vh; */
    width: 12vw;
    /* width: 18vw; */
    /* border: 2px solid gray; */
    border-left: 0.5px solid grey;
    border-bottom: 0.5px solid gray;
    border-bottom-left-radius: 170px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 15px;
    right: 0;
    /* top: 10px; */
}